header, body{
    background-image: url("../img/Galaxy.jpg");
    background-size: cover;

}

.slideimg{

    background-color: rgba(0, 0, 0, 0.658);

}

.imagesli{

    Display:block;
    margin:auto;

}

.color-menu{
    text-align:center;
    padding: 0 500px;
    font-size: 20px;
    border-radius: 10%;
}

.element-true{

    color: black;
    border-color: black;

    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    width: 100%;
}

.element-false{

    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    width: 100%;

}

.element-false:hover{

    color:rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);


}

.comic_img{

    position: relative;
    top: 10px;
    left: 150px;


}

.card1{
    Display:block;
    margin:auto;


    background-color: rgb(76, 0, 255);

    color: white;

    width: 50%;

}

footer{

background-color: black;
color: white;

text-align:center;

}



.card_black{

    background-color: rgba(105, 105, 105, 0.623);

}
